{% extends "auctions/layout.html" %}

{% block body %}

<!-- {{category}}

{% for listing in category.listing_set.all %}
                    {% if listing.active %}
                        <li>
                            <a href="{% url 'auctions' auction_id=listing.id %}">{{ listing.title }}</a>
                        </li>
                    {% endif %}
                {% empty %}
                    <li>No Listings</li>
                {% endfor %} -->
                
                <h2 class="align-center">Active Listings for {{ category }}</h2>

                <div class="product-list">
                    <ul class="cards">
                        {% for listing in listings %}
                            <li class="item">
                                <a href="{% url 'auctions' listing.id %}">
                                    <div class="title">
                                    {{listing}}
                                    </div>
                                    <div class="image">
                                        <img src="{{listing.image_url}}" alt="">
                                    </div>
                                    <div class="description">
                                        {{listing.description}}
                                    </div>
                                    <div class="price">
                                        <span>Current Price: </span>
                                        <span class="number"> {% if listing.bids.exists %}
                                            USD {{ listing.bids.last.amount }}
                                        {% else %}
                                            USD {{ listing.starting_bid }}
                                        {% endif %}
                                        </span>
                                    </div>
                                </a>    
            
                            </li>
                            {% empty %}
                            <div>No Listings yet!</div>
                        {% endfor %}
            
            
                    </ul>
                </div>

{% endblock %}