{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

<section id="prodetails" class="section-p1">

    <div class="sinlge-prod-image">
        <img src="{{auction.image_url}}" width="100%" alt="">
    </div>
    <div class="sinlge-prod-details">
        <div class="status-msg">
            {% if user.is_authenticated %}

            {% if auction.active == False %}
            <div class="closed">
                <h4>Auction closed!</h4>
            </div>
            {% if auction.bids.exists %}
            {% with winning_bid=auction.bids.last %}
            {% if winning_bid.bidder == user %}
            <div class="alert alert-success">
                Congratulations! You won the auction with a bid of USD {{ winning_bid.amount }}.
            </div>
            {% endif %}
            {% endwith %}
            {% else %}
            Nobody made bids on this item
            {% endif %}

            {% if user == auction.seller %}
            <form method="post" action="{% url 'change_active_status' auction.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">OPEN Auction</button>
            </form>
            {% endif %}


            {% else %}
            {% if user == auction.seller %}
            <form method="post" action="{% url 'change_active_status' auction.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Close Auction</button>
            </form>
            {% endif %}

            {% endif %}


            {% endif %}
        </div>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <h6 id="auccat">Auction Categories</h6>
        <h4>{{auction.title}}</h4>
        <h7>{{auction.description }}</h7>
        <h5>Published by {{auction.seller}} on {{auction.created}}</h2>

            <h2>Current Pice: USD {% if auction.bids.exists %}
                {{ auction.bids.last.amount }}
                {% else %}
                {{ auction.starting_bid }}
                {% endif %}
            </h2>
            {% if user.is_authenticated %}
                {% if auction.active == True %}
                <form method="post" action="{% url 'auctions' auction.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                    <input type="number" name="bid_amount" step="0.01" min="{{ auction.starting_bid }}" required>
                    <button type="submit">Place Bid</button>
                    </form>

                    <form method="post" action="{% url 'add_comment' auction.id %}">
                    {% csrf_token %}
                    <textarea name="comment_text" rows="3" required></textarea>
                    <button type="submit">Add Comment</button>

                    </form>
                    <div class="watch">
                    {% if user.watchlists.exists %}
                        {% if auction in user.watchlists.first.listings.all %}
                            <form action="{% url 'remove_watchlist' auction.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger remwatchlist">Remove from Watchlist</button>
                            </form>
                        {% else %}
                            <form action="{% url 'add_watchlist' auction.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary addwatchlist">Add to Watchlist</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <form action="{% url 'add_watchlist' auction.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary addwatchlist">Add to Watchlist</button>
                        </form>
                    {% endif %}
                    </div>

                {% endif %}
            {% else %}
                 <p>Please <a href="{% url 'login' %}">login</a> to manage your watchlist or bid on this item.</p>
            {% endif %}
    </div>

</section>
<section class="comments">
    <h2>Latest Comments on {{auction.title}}</h2>
    <div class="container-box">
        {% for comment in comments %}

        <div class="comment-box">
            <div class="box-top">
                <div class="profile">
                    <div class="profile-image">
                        <img src="{% static 'auctions/img/user.jpg' %}">
                    </div>
                    <div class="name">
                        <strong>by {{ comment.author }}</strong>
                        <span>{{ comment.created }}</span>
                    </div>
                </div>
            </div>
            <div class="comment">
                <p>
                    {{ comment.text }}
                </p>
            </div>
        </div>
        {% empty %}
        <p>No comments yet! Feel free to add one.</p>
        {% endfor %}
    </div>
</section>




{% endblock %}