{% extends "auctions/layout.html" %}

{% block body %}
<div class="section-p1 prod1" >
<h2>Active Listings</h2>
<p>New products every day!</p>
</div>

    <section id="products" class="section-p1">

        {% for listing in listings %}
        <div class="product-card">
            <a href="{% url 'auctions' listing.id %}">
                <div class="pro">
                    <img src="{{listing.image_url}}" alt="">
                    <div class="desc">
                        <h2>{{listing}}</h2>
                        <span>{{listing.description}}</spavn>
                        <h3>Current Price:</h3>
                        <h3>{% if listing.bids.exists %}
                        USD {{ listing.bids.last.amount }}
                        {% else %}
                        USD {{ listing.starting_bid }}
                        {% endif %}</h3>
                        <h4>Bid!</h4>   
                    </div>
                </div>
            </a>
            
        </div>
      
        
        {% empty %}
                <div>No Listings yet!</div>
        {% endfor %}
    </section>

   
    
{% endblock %}